# files

*.pgm
*.png
*.jpg
*.task
*.pt
*.pth
*.swp
*.swo
*.zip
*.yaml

tags

ExpressiveEncoding/FaceToolsBox/*.mp4
tests/*.mp4
                        

# soft link
codes

# folder
.idea/
__pycache__/
src/
tensorboard/
models/
video/
tests/puppet


# temp file.
results
error.txt


/sh_scripts/0614/
/sh_scripts/kanghui_0_pivot/
/sh_scripts/man3_chenl_0521_speed2/
/scripts/30s_kanghui_chenl_0521/
/scripts/0611_bad_pivot/
/scripts/attribute_finetuning_001/
/scripts/dongmei_chenl_0521/
/scripts/exp001/
/scripts/exp002/
/scripts/exp003/
/scripts/exp004/
/scripts/exp005/
/scripts/exp006/
/scripts/exp007/
/scripts/exp008/
/scripts/exp009/
/scripts/exp010/
/scripts/kanghui/
/scripts/kanghui_0_pivot/
/scripts/kanghui_s_speed/
/scripts/kanghui_w_speed/
/scripts/lady9_bad_2_pivot_512/
/scripts/lady9_bad_chenl_0521/
/scripts/lady9_bad_pivot/
/scripts/lady9_chenl_0521/
/scripts/lady9_chenl_0521_s_decoder/
/scripts/man3/
/scripts/man3_chenl_0521/
/scripts/man3_chenl_0521_speed/
/scripts/man3_chenl_0521_speed2/
/scripts/man3_pivot_512/
/scripts/man3_pivot_1024/
/scripts/pivot_001/
/scripts/pivot_002/
/scripts/pivot_003/
/scripts/pivot_004/
/scripts/pivot_005/
/scripts/pivot_006/
/scripts/pivot_007/
/scripts/pivot_008/
/scripts/pivot_009/
/scripts/pivot_009_debug/
/scripts/pivot_010/
/scripts/pivot_010_debug/
/scripts/pivot_011/
/scripts/pivot_012/
/scripts/pivot_013/
/scripts/pivot_014/
/scripts/pivot_015/
/scripts/pivot_016/
/scripts/pivot_017/
/scripts/pivot_018/
/scripts/pivot_019/
/scripts/pivot_020/
/scripts/pivot_021/
/scripts/pivot_022/
/scripts/pivot_022_resume/
/scripts/pivot_023/
/scripts/pivot_024/
/scripts/pivot_025/
/scripts/pivot_026/
/scripts/pivot_027/
/scripts/pivot_028/
/scripts/pose_finetuning/
/scripts/pose_finetuning_002/
/scripts/pose_finetuning_003/
/scripts/pose_finetuning_004/
/scripts/pose_finetuning_005/
/scripts/pose_finetuning_006/
/scripts/pose_finetuning_007/
/scripts/pose_finetuning_008/
/scripts/pose_finetuning_009/
/scripts/pose_finetuning_010/
/scripts/pose_finetuning_011/
/scripts/pose_finetuning_012/
/scripts/pose_finetuning_013/
/scripts/pose_finetuning_014/
/scripts/pose_finetuning_015/
/scripts/pose_finetuning_016/
/scripts/pose_finetuning_016_debug/
/scripts/pose_finetuning_017/
/scripts/pose_finetuning_018/
/scripts/pose_finetuning_019/
/scripts/pose_finetuning_020/
/scripts/pose_finetuning_021/
/scripts/pose_finetuning_022/
/scripts/pose_score_001/
/scripts/public_model/
/scripts/public_model2/
/scripts/puppet/
/scripts/puppet_002/
/scripts/puppet_003/
/scripts/puppet_kanghui_0/
/scripts/speed_kanghui_0/
/scripts/speed_lady9_chenl_0521/
/scripts/test/
/scripts/w_kanghui_0_pivot/
/scripts/pose_score.sh
/log/
/scripts/attribute_finetuning_001/
/scripts/pose_finetuning_002/
/ExpressiveEncoding/FaceToolsBox/
