imageio==2.26.1
mediapipe==0.9.3.0
face_alignment
kornia==0.5.0
trimesh
ffmpeg-python
awscli
rarfile
opencv-python==4.8.1.78
psutil
scikit-learn
pypinyin
opencc-python-reimplemented
numpy==1.22.1
imageio-ffmpeg
click
easydict
torchdiffeq
